#{extends 'main.html' /}
#{set title:messages.get('recette.ajouter.title') /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'recette.ajouter.title'}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form fields:['titre', 'lettre']/}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#adresse" data-toggle="tab">&{'adresse'}</a></li>
            <li><a href="#description" data-toggle="tab">&{'description'}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="adresse">
                <p>&{'recette.adresse.info'}</p>
                #{crud.form fields:['adresse']}
                    #{crud.custom 'adresse'}
                        <input id="object_adresse" class=" form-control" type="text" name="object.adresse" value="" size="50">
                    #{/crud.custom}
                #{/crud.form}
            </div>
            <div class="tab-pane" id="description">
                <p>&{'recette.description.info'}</p>
                #{crud.form fields:['description']}
                    #{crud.custom 'description'}
                        <textarea id="object_description" class="form-control" class="" name="object.description"></textarea>
                    #{/crud.custom}
                #{/crud.form}
            </div>
        </div>
        <p class="crudButtons">
            <input class="btn btn-primary" type="submit" name="_save" value="&{'recette.save'}" />
            <a class="btn btn-default" href="@{Application.all()}">&{'recette.annuler'}</a>
        </p>
    #{/form}
    </div>
</div>
<script>
    $(document).ready(function(){
        // Présélectionne la lettre en fonction du titre de la recette
        $('#object_titre').change(function(){
            var firstLetter = $(this).val().charAt(0).toUpperCase();
            $('#object_lettre').val(firstLetter).attr('selected', 'selected');
        });
    });
</script>