#{extends 'main.html' /}
#{set title:messages.get('recette.ajouter.title') /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'recette.ajouter.title'}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form fields:['titre', 'adresse', 'lettre']/}
        <p class="crudButtons">
            <input class="btn btn-primary" type="submit" name="_save" value="&{'recette.save'}" />
            <a class="btn btn-default" href="@{Application.index()}">&{'recette.annuler'}</a>
        </p>
    #{/form}
    </div>
</div>
<script>
    $(document).ready(function(){
        // Présélectionne la lettre en fonction du titre de la recette
        $('#object_titre').change(function(){
            var firstLetter = $(this).val().charAt(0).toUpperCase();
            $('#object_lettre').val(firstLetter).attr('selected', 'selected');
        });
    });
</script>