#{extends 'main.html' /}
#{set title:messages.get('recette.modifier.title') /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'recette.modifier.title'}</h2>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form fields:['titre', 'lettre'] /}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#adresse" data-toggle="tab">&{'adresse'}</a></li>
            <li><a href="#description" data-toggle="tab">&{'description'}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="adresse">
                <p>&{'recette.adresse.info'}</p>
                #{crud.form fields:['adresse']}
                    #{crud.custom 'adresse'}
                        <input id="object_adresse" class=" form-control" type="text" name="object.adresse" placeholder="http://www.exemple.fr"  value="${object.adresse.escape()?.raw()}" size="50">
                    #{/crud.custom}
                #{/crud.form}
            </div>
            <div class="tab-pane" id="description">
                <p>&{'recette.description.info'}</p>
                #{crud.form fields:['description']}
                    #{crud.custom 'description'}
                        <textarea id="object_description" class="form-control wysiwyg" class="" name="object.description">${object.description.escape()?.raw()}</textarea>
                    #{/crud.custom}
                #{/crud.form}
            </div>
        </div>
        <p class="crudButtons">
            <input class="btn btn-primary" type="submit" name="_save" value="&{'recette.save'}" />
            <a class="btn btn-default" href="@{Application.all()}">&{'recette.annuler'}</a>
        </p>
    #{/form}
    </div>
</div>