#{extends 'bo.html' /}
#{set title:messages.get('application.titre') /}

<table class="table table-striped">
    <thead>
        <tr><th>&{'application.administration'}</th></tr>
    </thead>
    <tr><td><a href="@{Recettes.list()}">&{'admin.recettes'}</a></td></tr>
    <tr><td><a href="@{Utilisateurs.list()}">&{'admin.users'}</a></td></tr>
    <tr><td><a href="@{Roles.list()}">&{'admin.roles'}</a></td></tr>
    <tr><td><a href="@{Administration.setPseudo()}">Set des pseudos</a></td></tr>
</table>