.crudHelp {
    display:none;
}
.crudField {
    display:inline;
}
.formRecette {
    margin:30px auto;
}
.message {
    padding:20px;
    font-weight:bold;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius:0 0 5px 5px;
}
.listeRecettes {
    padding:20px 20px 20px 80px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius:0 0 5px 5px;
}
.listeRecettes li {
    margin:0;
    padding:0;
    font-size:20px;
}
.listeRecettes li .option {
    display:none;
}
.listeRecettes li:hover .option {
    display:inline;
}
.nav-tabs>li>a {
    font-size:18px;
    padding:5px 7px !important;
    font-weight:bold;
}
.btn-ajouter {
    margin-top:24px;
}
.recherche {
    float:right;
    width:400px;
    margin-top:23px;
}

.formRecette select.form-control {
    display:block;
}

/* -- Pagination -- */
div.pagination {
    display:block;
}
div.pagination ul.pagination {
    margin:0;
}
div.pagination select {
    width:auto;
}