/* --- Entete --- */
h1 .version {
    font-size:14px;
}

.crudHelp {
    display:none;
}
.crudField {
    display:inline;
}
.formRecette {
    margin:30px auto;
}
.message {
    padding:20px;
    font-weight:bold;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius:0 0 5px 5px;
}
.listeRecettes {
    padding:20px 20px 20px 80px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius:0 0 5px 5px;
}
.listeRecettes li {
     margin:0;
     padding:0;
     font-size:20px;
 }
 .listeRecettes li a {
     text-transform:capitalize;
 }
.listeRecettes li .option {
    display:none;
}
.listeRecettes li:hover .option {
    display:inline;
}
/* --- Formulaire --- */
.recettes .alert {
    display:block;
}

/* --- Onglet --- */
.nav-tabs {
    margin-top: 30px;
}
.nav-tabs>li>a {
    font-size:18px;
    padding:5px 7px !important;
    font-weight:bold;
}
.btn-ajouter {
    margin-top:24px;
}
.recherche {
    float:right;
    width:400px;
    margin-top:23px;
}

.formRecette select.form-control {
    display:block;
}

.btn-addRecette {
    float:right;
    margin-top:23px;
    margin-right:20px;
}

/* -- Pagination -- */
div.pagination {
    display:block;
    text-align:center;
}
div.pagination ul.pagination {
    margin:0;
}
div.pagination form {
    display:inline;
}
div.pagination select {
    display:inline;
    width:60px;
    height:34px;
    margin-left:20px;
    vertical-align:top;
}