#{if _arg.dateDeCreation}
    #{if _arg.dateDeModification && _arg.dateDeModification != _arg.dateDeCreation}
        <span class="label label-primary dateAjout infoBulle" data-toggle="tooltip" title="&{'recette.date.modification'}"><i class="glyphicon glyphicon-time"></i>  Modifiée le ${_arg.dateDeModification.format("dd/MM/yyyy à HH:mm:ss")}</span>
    #{/if}
    #{else}
        <span class="label label-primary dateAjout infoBulle" data-toggle="tooltip" title="&{'recette.date.creation'}"><i class="glyphicon glyphicon-time"></i>  Ajoutée le ${_arg.dateDeCreation.format("dd/MM/yyyy à HH:mm:ss")}</span>
    #{/else}
#{/if}