<img src="/public/images/logo cookbook.png" alt="" />
<a class="titre" target="_blank" href="@{Application.showRecette(_obj.id)}">
    #{if _searchText}
        ${_obj.hightlightRecherche(_searchText).raw()}
    #{/if}
    #{else}
        ${_obj.titre}
    #{/else}
</a><br/>
#{dateAjout _obj /}
<span class="label label-info nbVues infoBulle" data-toggle="tooltip" title="&{'vues'}"><i class="glyphicon glyphicon-eye-open"></i>  ${_obj.vues}</span>
#{if !_obj.auteur.equals(controllers.Security.getLoggedMember())}
    <span class="label label-success infoBulle" data-toggle="tooltip" title="&{'recette.auteur'}"><i class="glyphicon glyphicon-user"></i>  ${_obj.auteur}</span>
#{/if}
#{if _obj.reprise > 0}
    <span class="label label-warning infoBulle" data-toggle="tooltip" title="&{'reprise.nb'}"><i class="glyphicon glyphicon-registration-mark"></i>  ${_obj.reprise}</span>
#{/if}
<span class="option">
    #{if _obj.auteur.equals(controllers.Security.getLoggedMember())}
        <a class="btn btn-info" href="@{Recettes.show(_obj.id)}"><i class="glyphicon glyphicon-pencil"></i> &{'recette.modifier'}</a>
        <a class="btn btn-danger" href="@{Application.supprimer(_obj.id)}"><i class="glyphicon glyphicon-remove"></i> &{'recette.supprimer'}</a>
    #{/if}
    #{else}
        #{if !controllers.Application.isMyCookBook() }
            <a class="btn btn-info" href="@{Application.addToMyCookBook(_obj.id)}"><i class="glyphicon glyphicon-plus"></i> &{'recette.add.my.cookbook'}</a>
        #{/if}
    #{/else}
</span>