<img src="/public/images/logo cookbook.png" alt="" />
<a target="_blank" href="${_obj.adresse}">
    #{if _searchText}
        ${_obj.hightlightRecherche(_searchText).raw()}
    #{/if}
    #{else}
        ${_obj.titre}
    #{/else}
</a><br/>
#{dateAjout _obj /}
<span class="option">
    <a class="btn btn-info" href="@{Recettes.show(_obj.id)}"><span class="glyphicon glyphicon-pencil"></span> &{'recette.modifier'}</a>
    <a class="btn btn-danger" href="@{Application.supprimer(_obj.id)}"><span class="glyphicon glyphicon-remove"></span> &{'recette.supprimer'}</a>
</span>