#{extends 'main.html' /}
#{set title:messages.get('application.titre') /}

<h2>&{'application.contact'}</h2>

#{set loggedMember = controllers.Security.getLoggedMember() /}
<div class="container-border contact">
    <p>&{'contact.intro'}</p>
    #{form @Contact.send(), method:'POST', id:'contactForm'}
        *{ Email }*
        <div class="form-group">
            <label for="contact.email">&{'contact.email'}</label>
            <input id="contact.email" type="text" class="form-control" name="email" value="${loggedMember.email}"/>
        </div>

        *{ Sujet }*
        <div class="form-group">
            <label for="contact.sujet">&{'contact.sujet'}</label>
            <input id="contact.sujet" type="text" class="form-control" name="sujet" value=""/>
        </div>

        *{ Message }*
        <div class="form-group">
            <label for="contact.message">&{'contact.message'}</label>
            <textarea id="contact.message" name="message" class="form-control" rows="10"></textarea>
        </div>

        <div class="form-button-line">
            <button type="submit" class="btn btn-primary btn-submit"><i class="glyphicon glyphicon-envelope"></i> &{'contact.submit'}</button>
        </div>
    #{/form}
</div>

