#{extends 'main.html' /}
#{set title:messages.get('application.titre') /}

<h2>&{'application.changelog'}</h2>

<div class="container-border">
    <ul class="changelog">
        <li>
            v1.6:
            <ul>
                <li>Ajout du responsive.</li>
                <li>Ajout d'un formulaire de contact.</li>
                <li>Ajout d'une description aux recettes.</li>
            </ul>
        </li>
        <li>
            v1.5:
            <ul>
                <li>Possibilité de trier les recettes par Titre, Date de création ou de modification, Nombre de vues, Auteur.</li>
                <li>Correction bug: Imossibilité de créer deux recette ayant le même titre.</li>
                <li>Accès au CookBook du membre en cliquant sur son nom.</li>
                <li>Ajout de la pagination et des filtres sur la liste des membres.</li>
                <li>Pagination avançée</li>
            </ul>
        </li>
        <li>
            v1.4:
            <ul>
                <li>Visualisation des recettes des autres membres.</li>
                <li>Possibilité de récupèrer la recette d'un autre membre.</li>
                <li>Ajout de l'affichage du nombre de reprise.</li>
                <li>Ajout de l'affichage du nombre de vues.</li>
                <li>Ajout de l'affichage de l'auteur de la recette.</li>
            </ul>
        </li>
        <li>
            v1.3:
            <ul>
                <li>Ajout d'une police.</li>
                <li>Ajout du nombre de visualisation.</li>
                <li>Ajout des comptes utilisateurs.</li>
                <li>Ajout d'un auteur pour chaque recette.</li>
                <li>Ajout d'une administration.</li>
            </ul>
        </li>
        <li>
            v1.2:
            <ul>
                <li>Tri des recettes par ordre alphabétique.</li>
                <li>Affichage de la date de création ou de dernière modification.</li>
                <li>Ajout de la page changelog.</li>
            </ul>
        </li>
        <li>
            v1.1:
            <ul>
                <li>Ajout des recettes dans une page propre.</li>
                <li>Ajout de la pagination.</li>
            </ul>
        </li>
        <li>
            v1.0:
            <ul>
                <li>Version stable</li>
            </ul>
        </li>
    </ul>
</div>