#{extends 'body.html' /}
#{set title:'Recherche' /}

#{if recettes.size() > 0 }
    <ul class="listeRecettes">
    #{list items:recettes,as:'recette'}
        <li>
            <a target="_blank" href="${recette.adresse}">${recette.hightlightRecherche(recherche).raw()}</a>
            <span class="option">
                <a class="btn btn-info btn-xs" href="@{Recettes.show(recette.id)}"><span class="glyphicon glyphicon-pencil"></span> &{'recette.modifier'}</a>
                <a class="btn btn-danger btn-xs" href="@{Application.supprimer(recette.id)}"><span class="glyphicon glyphicon-remove"></span> &{'recette.supprimer'}</a>
                #{dateAjout recette /}
            </span>
        </li>
    #{/list}
    </ul>
#{/if}
#{else}
     <div class="message">&{'recette.empty'}</div>
#{/else}