#{extends 'main.html' /}
#{set loggedMember=controllers.Security.getLoggedMember() /}

<ul class="nav nav-tabs">
    <li #{if request.path.contains('membres')}class="active"#{/if}><a href="@{Application.showMembres()}">&{'membres'} <span class="label label-info">${models.Utilisateur.count()}</span></a></li>
    <li #{if !request.path.contains('lettre') && !request.path.contains('recherche') && !request.path.contains('membres')}class="active"#{/if}><a href="@{Application.all()}">&{'tout'} <span class="label label-info">${loggedMember.recettes.size()}</span></a></li>
    #{list items:models.Alpha.values(), as:'alpha'}
        #{set nbRecette= loggedMember.getNbRecette(alpha) /}
        #{if nbRecette > 0}
            <li class="#{if alpha.equals(selected) && !recherche}active#{/if}">
                <a href="@{Application.lettre(alpha)}">${alpha}
                    <span class="label label-info">${nbRecette}</span>
                </a>
            </li>
        #{/if}
    #{/list}
    #{if recherche}
        <li class="active"><a href="">&{'recherche'} <span class="label label-info">${recettes.size()}</span></a></li>
    #{/if}
</ul>
#{doLayout /}
#{pagination total:total/}
